<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941459557793-qce2amo38r9nri0e87qadfp72slg085s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941459557793-qce2amo38r9nri0e87qadfp72slg085s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941459557793-q13kto323mkpvtpj2cf64efotk6fm7ss.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjm0AI-A3gu1VOz-azv1Bi_Bk7OIl4eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>941459557793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allyouraffle.iosApp</string>
	<key>PROJECT_ID</key>
	<string>allyouraffle-f271f</string>
	<key>STORAGE_BUCKET</key>
	<string>allyouraffle-f271f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941459557793:ios:ee5865454ca1168a6d0fe0</string>
</dict>
</plist>