<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941459557793-sksjmbbup0khfbl7pncs05i61uemdret.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941459557793-sksjmbbup0khfbl7pncs05i61uemdret</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941459557793-127uf07k24a2kihoavofrq79ieis6dum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjm0AI-A3gu1VOz-azv1Bi_Bk7OIl4eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>941459557793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allyouraffle.allyouraffle</string>
	<key>PROJECT_ID</key>
	<string>allyouraffle-f271f</string>
	<key>STORAGE_BUCKET</key>
	<string>allyouraffle-f271f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941459557793:ios:befa5b8fb24de80f6d0fe0</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7372592599478425~4968361115</string>
</dict>
</plist>